!!!
%html
  %head
    %link(rel="stylesheet" href="/css/global.css")
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"}
    %script{:src => "/js/ui.js"}
    %script{:src => "/js/processing.min.js"} 

    %title Etymonline | Crossreferences Visualization

  %body
    %canvas#neoviz
    %header
      %section#title
        %h1 Etymonline
        %p Crossreferences Visualization
      %section#search
        %form{:action => "/", :method => "get"}
          %label Node ID:
          %input#neoid{:type => "text", :value => "#{@neoid}", :name => "neoid"}
          %input#loadnode{:type => "submit", :value => "Load", :class => "button"}
      %br{:style => "clear: both;"}
    %section#content
      = yield
    %aside
      %div#explanation
        %h2 About
        %p
          This site is an attempt to visually navigate through Douglas Harper's
          %a{:href => "http://www.etymonline.com/index.php"} Online Etymology Dictionary.
        %h3 Get started
        %p
          Start using the browser by just typing in the id of an existing node.
          Try loading
          %a{:href => "/?neoid=249"} 
            %b Node 249
          to get started.    
        %h3 Quirks
        %p
          There may be some unexpected behavior. Performance may drop significantly as
          the number of terms increases.
        %h3 Credits
        %p
          This project was inspired by
          = link_to("#", "Dan Schiffrin") + "."
          Most of the code is from
          = link_to("http://maxdemarzi.com", "Max De Marzi") + "'s"
          = link_to("https://github.com/maxdemarzi/neovigator", "Neovigator")
          project, which in turn uses his
          = link_to("https://github.com/maxdemarzi/neography", "Neography")
          library and
          = link_to("http://neo4j.org", "Neo4j") + ","
          and is based on 
          %a{:href => "http://askken.heroku.com/", :target => "_blank"} Ask Ken
          created by 
          %a{:href => "http://twitter.com/_mql", :target => "_blank"} Michael Aufreiter 
        %h3 Code          
        %p
          Available at
          %a{:href => "https://github.com/drewbug/etymonline", :target => "_blank"} Github    

      <div id="browser_not_supported">
      Your Browser is currently not supported.<br/><br/>Try one of these:<br/>
      <a href="http://www.mozilla.com/en-US/firefox/firefox.html">Firefox 3.6</a><br/>
      <a href="http://www.apple.com/safari/">Safari 4.0</a><br/>
      <a href="http://www.google.com/chrome/">Chrome</a><br/>
      </div>
